doctype html
head
  script(src="/webwork2_files/js/vendor/iframe-resizer/js/iframeResizer.min.js")
body(width="210mm" height="297mm")
    //- TODO: Add a Rederly header
    h1(style={'text-align': 'center'}) #{topicTitle}
    h2(style={'text-align': 'center'}) #{firstName} #{lastName}
    each problem in problems
        if problem.srcdoc
            h3(style={'page-break-before': 'always', 'page-break-after': 'avoid'}) Problem #{problem.number}
            iframe(srcdoc=`${problem.srcdoc.trim()}` width='100%' id=`prob${problem.number}`)
            script.
                // checkOrigin is just for development.
                iFrameResize({ log: true, checkOrigin: false, autoResize: true, resizeFrom: 'child' }, "#prob#{problem.number}");
        else
            h3 Could not render Problem #{problem.number}

        each attachment in (problem.attachments || [])
            img(src=`${attachment}` style={'max-width': '100% !important', 'max-height': '100% !important', 'page-break-inside': 'avoid'})